body {
    color: white;
    font-family: "Saira", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding: 0;
    z-index: 1;
  }

  .fundo {
    position:fixed;
    top: -5px;
    left: -5px;
    width: 105%;
    height: 105%;
    background-image: url('space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
  }

  .paragrafos {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .texto {
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
  }

  .bloco {
    background-color: rgba(0, 0, 0, 0.3); 
    padding: 20px;
    border-radius: 25px;
    max-width: 850px;
    text-align: center;
    margin:auto;
  }

  .footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(10, 6, 11, 1); 
    padding: 12px;
    max-width: 9999px;
    text-align: center;
    margin-bottom: auto;
    font-size: 20px;
  }

  #eu {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid white;
    object-fit:cover;
  }